
{% extends "even/templates/page.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}"/>
{% endblock css %}

{% block page_after_footer %}
{{ super() }}
<div class="utterances"></div>
{% endblock page_after_footer %}

{% block js_body %}
{{ super() }}
<script src="https://utteranc.es/client.js"
        repo="lisongmin/lisongmin.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
{% endblock js_body %}
